.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    overflow-x: hidden;
}

p {
    font-size: 18px;
    line-height: 21px;
    color: #232323;
}

body div {
    max-width: 1366px;
    overflow-x: hidden;
}