@import url("./css/reset.css");
@import url("./css/main.css");
.fixed {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    overflow: hidden;
}

header {
    width: 100%;
    height: 89px;
    background-color: #404EED;
    left: 0px;
    top: 0px;
    padding-left: 80px;
}

.show-ilustracao {
    background-color: #404EED;
    height: 785px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    right: 0;
}

.show-options {
    left: 0px;
    height: 785px;
    margin-top: 25px;
    margin-left: 122px;
}

.fig {
    margin: 0;
    margin-right: 40px;
}

.img-round {
    background: #F2F2F2;
    padding: 10px;
    margin: 0;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid #C4C4C4;
    border-radius: 100px;
    box-sizing: border-box;
}

.selected {
    border: 3px solid #404EED;
    border-radius: 100px;
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 35px;
    margin-top: 15px;
}

.icone-modelo {
    width: 80px;
    height: 80px;
}

.icone-gola {
    width: 80px;
    height: 55px;
}

.icone-tecido {
    width: 60px;
    height: 60px;
}

.fig>figcaption {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    margin-top: 5px;
}

.roboto-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
}

.img-link {
    background: #F2F2F2;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-submit {
    width: 100%;
    height: 40px;
    background: #C4C4C4;
    border-radius: 10px;
    color: #FCFCFC;
    font-size: 20px;
}

.enabled {
    background: #404EED;
}

.pedidos-text {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pedidos-fig {
    flex-direction: column;
    background-color: white;
    width: 202px;
    height: 235px;
    border-radius: 10px;
    margin: 0;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.pedidos-fig>figcaption {
    text-align: center;
    margin-top: 10px;
}

.ultimos-pedidos {
    padding-left: 120px;
    padding-right: 120px;
}

.ultimos-pedidos>div {
    overflow: scroll;
}