.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

body {
    background-color: #F2F2F2;
    overflow: hidden;
}

p {
    font-size: 18px;
    line-height: 21px;
    color: #232323;
}